<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p>My name: Xun Wei</p>
    <p>My picture: Xun Wei</p>
    <img src="static/2.jpg"/>
    <p>My curren grade: 3.63</p>
    <p>My cmajor: data science</p>
    <p><a href="https://www.linkedin.com/in/xunweiwork">Visit My LinkedIn</a> <p>
    <p><a href="/assignments">Visit One of the assignments</a><p>
    <p><a href="/classes">Visit One of the classes</a><p>
    </body>
</html>
